body {
  background: black; }
  body .container {
    background: white; }
    body .container .item {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .container .item img {
        width: 50% !important; }

