extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Contact'
	- var description = 'Description for contact page'
	- var bodyclass = 'contact'
block body
	h2 This is contact page
	ul.list-group.mt-2.mb-2.ml-3.mr-3
		li.list-group-item.active Cras justo odio
		li.list-group-item Dapibus ac facilisis in
		li.list-group-item Morbi leo risus
		li.list-group-item Porta ac consectetur ac
		li.list-group-item Vestibulum at eros