extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block body
	section
		.container
			.row
				.col.text-center
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis quos odit saepe ut nostrum, sit consequatur est beatae? Vero officiis illum amet voluptates alias dicta doloribus tempora! Labore, quos?
					button.mb-2.btn.btn-secondary(type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right")
						| Tooltip on right

