doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="./css/thuvien.css")
		link(rel="stylesheet" href="./css/main.css")
		title Trung
	body
		html(lang="en")
			head
				meta(charset="UTF-8")
				meta(name="viewport" content="width=device-width, initial-scale=1.0")
				meta(http-equiv="X-UA-Compatible" content="ie=edge")
				link(rel="stylesheet" href="./css/thuvien.css")
				link(rel="stylesheet" href="./css/main.css")
				title Trung
			body
				p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos labore blanditiis voluptates saepe laborum odio modi ipsum consequatur repellat quae dignissimos earum, in omnis maxime, provident totam? Quaerat, non?
				p dsadsad
				a(href="./about.html" target="_blank")  dasjdhsajkdhkasjdhkasjhdkj
				p.ad
					| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quam necessitatibus at eum illo quaerat enim minima! Aspernatur, tenetur aperiam distinctio qui cum quidem. Expedita consequatur adipisci consequuntur eveniet praesentium?
				button#button(type="submit" onclick="my()") submit 
				script(src="./js/thuvien.js")
				script(src="./js/main.js")