doctype html
html(lang="en")
	head
		
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="./css/thuvien.css")
		link(rel="stylesheet" href="./css/main.css")
		title Trung
	body.text-center
		section
			.container
				.row.mb-3
					.col-12
						img#show(src="./img/img2.png", alt="", srcset="")
					.col-12.mt-3
						button#play(onclick="MySlider()") Play
				.row
					.col-4
						img#show1.img-fluid(src="./img/img1.png", alt="", srcset="")
					.col-4
						img#show2.img-fluid(src="./img/img2.png", alt="", srcset="")
					.col-4
						img#show3.img-fluid(src="./img/img3.png", alt="", srcset="")
			a(href="http://google.com", target="_blank", rel="noopener noreferrer") Click go to google.co page
				
		.animated.bounceInRight.text-danger.mb-3(style="font-size: 40px") ANIMATED
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 
						.item
							img.img-fluid(src="./img/img1.png", alt="image of icon", srcset="") 

					
					
					
		script(src="./js/thuvien.js")
		script(src="./js/main.js")